input[type="checkbox"]:checked {
    background-image: url('../main-component/images/status_logo/actively_commit.svg');
}

label {
    margin-left: 10px;
    color: #8E87A3;
}

.scalesContainer {
    padding: 10px 0 10px 0;
}

.newStatusCheckbox {
    color: #5813FE;
}

.hiddenLabel {
    display: none;
} 

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 1px solid #8E87A3;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center; 
    margin-bottom: -6px;
}




